body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(zodiac-sign-facts.jpg); /* Replace 'background.jpg' with the path to your background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    text-align: center;
    background-image: url(zodiac-sign-facts.jpg);
    background-color: rgb(255, 255, 255); /* Semi-transparent white background */
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #0c0101;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input, button {
    margin-bottom: 20px;
    padding: 15px;
    font-size: 18px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #036206;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0be616;
}

p {
    font-size: 22px;
    font-weight: bold;
    color: #0d0202;
}
